/* Some styles missed in central :( */
table {font:normal 15px "Helvetica Neue","Helvetica",Arial; color:#666666;}  
table tr {border-top: 1px solid #CCC; background-color:white; margin: 0; padding: 0;}
table tr td {border: 1px solid #CCC; text-align: left; margin: 0; padding: 6px 13px;}
table td b {color:#333333;}
span.string p {display:inline-block; width:auto!important; font-size:13px;}

/* Fonts for Firefox */
header nav a {font:bold 12px "Segoe UI Bold", "Helvetica Neue", "Helvetica", Arial;}
em {font: bold 13px/16px "Segoe UI Bold", "Helvetica Neue", "Helvetica", Arial!important;}
h2 {font:bold 34px "Segoe UI Bold", "Helvetica Neue", "Helvetica", Arial!important;}
h3 {font: bold 23px/24px "Segoe UI Bold", "Helvetica Neue", "Helvetica", Arial!important;}
h5 {font: bold 19px/15px "Segoe UI Bold", "Helvetica Neue", "Helvetica", Arial!important;}